<div class="card" *ngIf="volunteer">
    <div class="card-header">
        detial of: {{volunteerForm.value.firstName}}
    </div>
    <div class="card-body">
        {{volunteerForm.value | json}}
        <form [formGroup]="volunteerForm">
            <div class="form-group">
                <label for="volunteerFirstName">first_name:</label>
            
                <input id="volunteerFirstName" class="form-control" type="text" name="firstName"
                    formControlName="firstName" />
            </div>
            <div class="form-group">
                <label for="volunteerLastName">last_name:</label>
                <input id="volunteerLastName" class="form-control" type="text" name="lastName"
                    formControlName="lastName" />
            </div>
            <div class="form-group">
                <label for="volunteertPhone">phone:</label>
                <input id="volunteerPhone" class="form-control" type="text" name="phone" formControlName="phone" />
            </div>
            <div class="form-group">
                <label for="volunteerAddress">address:</label>
                <input id="volunteerAddress" class="form-control" type="text" formControlName="address" />
            </div>
            <div class="form-group">

                <label>days:</label>
                <div formArrayName="days" >
                    <div *ngFor="let d of days.controls;index as i" class="form-check">
                        <input type="checkbox" [formControlName]="i" class="form-check-input"/>
                    </div>
                </div>

            </div>
            <div>
                <button class="btn btn-primary" (click)="saveDetials()">save</button>
            </div>
        </form>
    </div>
</div>